### GİZLİ DOSYALAR / CONFIG ###
.env
application.properties
application.yml

### MAVEN ###
target/
!.mvn/wrapper/maven-wrapper.jar

### BUILD (NetBeans, Gradle, Spring, etc.) ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS / Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### LOG & TEMP ###
*.log
logs/
*.tmp
*.bak

### OS / System ###
.DS_Store
Thumbs.db